/* Rangi maalum ambazo Bootstrap haina */
.bg-lab-gradient {
    background: linear-gradient(135deg, #510ecc, oklch(39.933% 0.23644 280.212));
}

.form-control, .form-select {
    border: 1px solid #3a22a3;
    transition: 0.3s;
}

.form-control:focus, .form-select:focus {
    border-color: #6718ce;
    box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.25);
}

.icon-box {
    width: 45px;
    height: 45px;
    background: rgba(39, 8, 110, 0.15);
    color: #36078d;
}

